.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #C4C4C4;
    margin-top: 2rem;

    @media screen and (max-width: 320px) {
      flex-direction: column;
      padding-top: 1rem;
    }
}


.footer ul {
  
  list-style: none;
  @media screen and (max-width: 320px) {
    display: flex;
    flex-direction: row;
    font-size: 11px;
    width: 305px;
  }
}